<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="MedaEntities" connectionString="metadata=res://*/ModelMedaSlo.csdl|res://*/ModelMedaSlo.ssdl|res://*/ModelMedaSlo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dika-pc;initial catalog=Meda;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MedaSlovenijaEntities" connectionString="metadata=res://*/ModelSlovenija.csdl|res://*/ModelSlovenija.ssdl|res://*/ModelSlovenija.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dika-pc;initial catalog=MedaSlovenija;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MedaEntitiesDb" connectionString="metadata=res://*/ModelMeda.csdl|res://*/ModelMeda.ssdl|res://*/ModelMeda.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dika-pc;initial catalog=Meda;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>